/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #333;
	line-height: 20px;
	overflow-x: hidden;
	font-size: 16px;
}
ul {
	padding: 0;
}
a:hover {
	text-decoration: none;
}
pre {
	white-space: pre-wrap;
	max-height: 300px;
	overflow-y: auto;
}

/* common */
frame::-webkit-scrollbar {
	width: 6px;
}
frame::-webkit-scrollbar-thumb {
	background-color: #2da5ff;
	border-radius: 6px;
	box-shadow: -1px 1px 2px rgba(46, 149, 254, .4);
}


/* header */
.navbar {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2e95fe;
	color: #fff;
	box-shadow: 0 1px 6px rgba(46, 149, 254, .4);
}
.navbar-header {
	font-size: 24px;
}
.navbar-btn-left,
.navbar-btn-right {
	position: absolute;
	top: 0;
	z-index: 1;
	display: block;
	width: 60px;
	height: 50px;
	line-height: 44px;
	color: #fff;
	font-size: 32px;
	text-align: center;
}
.navbar-btn-left:hover,
.navbar-btn-right:hover {
	color: #fff;
	// background: #
}
.navbar-btn-left {
	left: 0;
}
.navbar-btn-right {
	right: 0;
}

/* wrapper */
.container {
	display: flex;
	width:  100vw;
	height: 100vh;
	flex-direction: column;
}
.wrapper {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 20px;
	-webkit-overflow-scrolling: touch;
}
.wrapper::-webkit-scrollbar {
	width: 6px;
}
.wrapper::-webkit-scrollbar-thumb {
	background-color: #2da5ff;
	border-radius: 6px;
	box-shadow: -1px 1px 2px rgba(46, 149, 254, .4);
}

/* footer */
.footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
    font-family: arial;
    text-align: center;
    color: #000;
    font-weight: bold;
    pointer-events: none;
}
.footer p {
    font-size: 24px;
    margin: 0;
}
.footer b {
    font-weight: 800;
    color: #000;
}
.footer span {
    font-size: 12px;
    color: #777;
    font-weight: 100;
}